body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#title-panel {
  background-color: #222;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.4rem;
}

#main-content {
  flex: 1;
  display: flex;
}

#map {
  flex: 3;
  height: 100%;
}

